<html>
<head>
  <title>My beautiful app</title>
</head>
<body>
  <h1>Yo</h1>
  <h2>The current date is: <%= currentDate.toLocaleString() %>  </h2>
  <% for(i = 0; i <= 15; i++) { %>
    <p>
      Hello, the value is: <%= i %>
      <% if(i % 3 === 0) { %>
        <b>Fizz</b>
      <% } %>
      <% if(i % 5 === 0) { %>
        <b>Buzz</b>
      <% } %>
    </p>
  <% } %>
  <p>
  Rerum eligendi doloremque qui inventore ex nemo autem. Vel amet voluptatem exercitationem beatae nisi. Aliquid optio dolor necessitatibus vero. Vel sapiente veritatis veritatis occaecati molestiae excepturi quae. Asperiores blanditiis rerum repellat. Et eum nobis quod.

  </p>
  <p>
Deserunt dolore sed ut error quibusdam qui. In id hic aut et recusandae quia. Cumque architecto vitae est voluptas. Quia quam tempore provident qui quae similique nisi. Omnis omnis perferendis quo fugit repellat. Laborum deleniti officia quia nam voluptas.

  </p>
  <p>
Doloribus dolor eos nam quis et maiores et. Accusamus doloremque voluptas eum qui veritatis officia consequuntur quos. Incidunt minus ut voluptatibus expedita sed ratione esse laborum. Non id vel quo enim.

  </p>
  <p>
Nemo aut vel corrupti assumenda unde eaque omnis reiciendis. Dolorem consequatur maxime et. Magnam quasi distinctio incidunt ab.

  </p>
  <p>
Et non sit sit eaque. Ab magnam ut dolor et. Eos minima ipsa minus consequatur saepe ab consequatur.
  </p>
</body>
</html>
